* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Urbanist', sans-serif;
}

/* utility class*/

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 18px 20px;
  background: #000;
  color: #fff;
  position: relative;
  margin-top: 30px;
  font-size: 1.2rem;
  z-index: 1;
  overflow: hidden;
}
.btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f02c3a;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: -1;
}
.btn:hover::before {
  transform: translateX(0);
}
.sub-heading {
  font-size: 6rem;
  margin-bottom: 25px;
  color: #222;
}
.para {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #222;
}

/*Navbar styling */

.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.logo {
  color: #222;
  font-size: 1.7rem;
  cursor: pointer;
  padding-left: 15px;
}
.icons {
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
}

/*cart icon*/

i {
  padding: 0 50px;
  font-size: 2rem;
  color: #bb0321;
}
.bg-black {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 100%;
}

/* hamburger menu */

.hamburger {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f02c3a;
  transition: all 0.4s ease;
}
.line {
  position: relative;
  height: 2px;
  width: 35px;
  background-color: #000;
}
.line:before,
.line:after {
  content: '';
  position: absolute;
  background-color: #000;
  height: 2px;
  width: 35px;
}
.line:before {
  top: -10px;
}
.line:after {
  top: 10px;
}

/* showcase styling */

.showcase {
  background: url(../img/bg-showcase.png) no-repeat center center/cover;
  height: 200vh;
  width: 100%;
}
.quotes {
  padding: 90px 25px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.main-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
  color: #fff;
  line-height: 2.4rem;
  letter-spacing: 1px;
}

/* offerbox area*/

.offerbox-area {
  overflow: hidden;
  color: #333;
  display: flex;
}
.offerbox-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;
}
.offer-heading {
  font-size: 6rem;
  margin-bottom: 2rem;
}
.offerbox-text p {
  font-size: 1.5rem;
}
.offerbox-image {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.offerbox-image img {
  width: 100%;
  height: 100%;
}

/*dailymove*/
.dailymove-area {
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  padding: 100px 0;
}
.dailymove-area h2 {
  margin-bottom: 25px;
  font-size: 7rem;
}
.dailymove-area p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

/*banner area*/
.banner-area {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-image,
.banner-text {
  width: 50%;
  height: 100%;
}
.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-text .sub-heading {
  font-size: 9rem;
}

/*shoe section*/

/* .shoe-section-area {
  height: 100vh;
} */
.column-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.column-card .image {
  height: 480px;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*shoe -showcase*/

.shoe-showcase img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* media queries for mobiles */

@media screen and (min-width: 370px) and (max-width: 890px) {
  /* navbar*/
  .navbar {
    overflow: hidden;
  }
  .hamburger,
  i {
    padding: 0 20px;
  }

  /*showcase*/
  .showcase {
    height: 100vh;
    width: 100%;
  }
  .heading {
    font-size: 1.5rem;
  }

  /*offerbox*/
  .offerbox-area {
    flex-direction: column;
  }
  .offerbox-text {
    padding: 80px 0;
    align-items: center;
    width: 100%;
  }
  .offer-heading {
    font-size: 2.4rem;
  }
  .offerbox-text p,
  .banner-area p {
    font-size: 1.2rem;
  }
  .offerbox-image {
    width: 100%;
  }

  /* dailymove area*/
  .dailymove-area h2 {
    font-size: 4rem;
  }

  /*banner area*/
  .banner-area {
    flex-direction: column;
  }
  .banner-image {
    height: 50%;
    width: 100%;
  }
  .banner-text {
    height: 50%;
    width: 100%;
  }
  .banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .banner-text .sub-heading {
    font-size: 4rem;
  }
  .banner-text .para {
    font-size: 1.1rem;
    flex: none;
  }

  /*shoe section*/
  .column-card .image {
    height: 150px;
  }
}

/*media query for tabs */

@media screen and (min-width: 791px) and (max-width: 1200px) {
  .offerbox-text {
    padding-left: 40px;
  }
  .offerbox-text p {
    font-size: 1.3rem;
  }
  .offer-heading {
    font-size: 3.5rem;
  }

  /* dailymove area*/
  .dailymove-area h2 {
    font-size: 7rem;
  }

  /*banner area*/
  .banner-image {
    height: 50%;
    width: 100%;
  }
  .banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .banner-text {
    padding: 0 20px;
  }
  .banner-text .sub-heading {
    font-size: 4rem;
  }
  .banner-text .para {
    font-size: 1rem;
  }

  /*shoe-section*/
  .column-card .image {
    height: 250px;
  }
}
